/webdsl.editor/.dependencies.webdsl
/webdsl.editor/test/.dependencies.webdsl
/webdsl.editor/test/.servletapp/src-webdsl-template/built-in.app
/webdsl.editor/test/test2/.dependencies.webdsl
/webdsl.editor/test/test2/.servletapp/src-webdsl-template/built-in.app
/webdsl.editor/utils/StrategoMix.def
webdsl.editor/.cache/*
webdsl.editor/webdslzip/*
webdsl.editor/dr-analysis/bin/*
webdsl.editor/editor/java-generated/*
webdsl.editor/editor/java/webdsl/WebDSLParseControllerGenerated.java
webdsl.editor/editor/WebDSL-Builders.esv
webdsl.editor/editor/*.generated.esv
webdsl.editor/import.webdsl.properties
webdsl.editor/include/*
webdsl.editor/lib/libback-end-transformations.rtree
webdsl.editor/lib/libjava-transformations.rtree
webdsl.editor/lib/libto-java-servlet.rtree
webdsl.editor/lib/libwebdsl-front.rtree
webdsl.editor/lib/libwebdsl-generator.rtree
webdsl.editor/lib/libwrite-files.rtree
webdsl.editor/syntax/WebDSL.generated.pp
webdsl.editor/utils/aster.jar
webdsl.editor/utils/make_permissive.jar
webdsl.editor/utils/sdf2imp.jar
webdsl.editor/webdsl-template/*
webdsl.editor/build.generated.xml
webdsl.editor/bin/*
webdsl.editor/.servletapp/*
webdsl.editor/lib-refactoring/behavior-preservation.generated.str
webdsl.editor/lib-refactoring/correctness-preservation.generated.str
webdsl.editor/lib-refactoring/namebinding-preservation.generated.str
webdsl.editor/lib/analysis-library-internal.generated.str
webdsl.editor/lib/analysis-library.generated.str
webdsl.editor/lib/compilation-library.generated.str
webdsl.editor/lib/editor-common.generated.str
webdsl.editor/lib/index-library.generated.str
webdsl.editor/lib/nbl-library.generated.str
.downloaded-webdsl-compiler
webdsl.editor/editor/java/trans
webdsl.editor/lib
