<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
     <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="app" description="WebDSL" language="WebDSL" derivedFrom="DynamicRoot" validator="webdsl.WebDSLValidator" validatorClass="webdsl.WebDSLValidator"></language>
     </extension>
     <extension id="webdsl.parser" name="WebDSL Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="webdsl.WebDSLParseController" language="WebDSL">
          </parser>
     </extension>
       
    <extension point="org.eclipse.ui.newWizards">
      <primaryWizard id="webdsl.NewEmptyWizard" />
      <wizard
            class="webdsl.NewEmptyProjectWizard"
            icon="icons/webdsl.gif"
            id="webdsl.NewEmptyWizard"
            name="New WebDSL project"
            project="true"
            >
            <description>This wizard creates a new WebDSL project.</description>
      </wizard>
      <wizard
            class="webdsl.WebDSLEditorWizard"
            icon="icons/webdsl.gif"
            id="webdsl.NewEditorWizard"
            name="Example WebDSL project"
            project="true"
            >
            <description>This wizard creates a new WebDSL project with an example application.</description>
      </wizard>
      <wizard
            class="webdsl.ConvertProjectWizard"
            icon="icons/webdsl.gif"
            id="webdsl.ConvertWizard"
            name="Convert to a WebDSL project"
            project="true"
            >
         <description>This wizard generates the WebDSL project structure in an existing project.</description>
         <selection
            class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
    </extension>
    
    <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
        objectClass="org.eclipse.core.resources.IProject"
        id="convertwizardpopup"
        >
        <action
          label="Convert to a WebDSL project"
          icon="icons/webdsl.gif"
          class="webdsl.StartConvertWizardAction"
          id="convertwizardstartaction">
        </action>
      </objectContribution>
      <objectContribution
        objectClass="org.eclipse.jdt.core.IJavaProject"
        id="convertwizardpopupjavaproject"
        >
        <action
          label="Convert to a WebDSL project"
          icon="icons/webdsl.gif"
          class="webdsl.StartConvertWizardAction"
          id="convertwizardstartactionjavaproject">
        </action>
      </objectContribution>
      
      <viewerContribution
       id="webdsl.projectexplorer.newwizard"
       targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
           <action id="webdsl.projectexplorer.newwizard.action"
              label="Example WebDSL Project"
              menubarPath="additions"
               icon="icons/webdsl.gif"
              class="webdsl.StartNewWizardAction">
           </action>
      </viewerContribution>
      <viewerContribution
       id="webdsl.resourcenavigator.newwizard"
       targetID="org.eclipse.ui.views.ResourceNavigator">
           <action id="webdsl.resourcenavigator.newwizard.action"
              label="Example WebDSL Project"
              menubarPath="additions"
               icon="icons/webdsl.gif"
              class="webdsl.StartNewWizardAction">
           </action>
      </viewerContribution>
      <viewerContribution
       id="webdsl.packageexplorer.newwizard"
       targetID="org.eclipse.jdt.ui.PackageExplorer">
           <action id="webdsl.packageexplorer.newwizard.action"
              label="Example WebDSL Project"
              menubarPath="additions"
               icon="icons/webdsl.gif"
              class="webdsl.StartNewWizardAction">
           </action>
      </viewerContribution>
      
      <viewerContribution
       id="webdsl.projectexplorer.newwizard"
       targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
           <action id="webdsl.projectexplorer.newemptywizard.action"
              label="New WebDSL Project"
              menubarPath="additions"
               icon="icons/webdsl.gif"
              class="webdsl.StartNewEmptyProjectWizardAction">
           </action>
      </viewerContribution>
      <viewerContribution
       id="webdsl.resourcenavigator.newwizard"
       targetID="org.eclipse.ui.views.ResourceNavigator">
           <action id="webdsl.resourcenavigator.newemptywizard.action"
              label="New WebDSL Project"
              menubarPath="additions"
               icon="icons/webdsl.gif"
              class="webdsl.StartNewEmptyProjectWizardAction">
           </action>
      </viewerContribution>
      <viewerContribution
       id="webdsl.packageexplorer.newwizard"
       targetID="org.eclipse.jdt.ui.PackageExplorer">
           <action id="webdsl.packageexplorer.newemptywizard.action"
              label="New WebDSL Project"
              menubarPath="additions"
               icon="icons/webdsl.gif"
              class="webdsl.StartNewEmptyProjectWizardAction">
           </action>
      </viewerContribution>
    </extension>

    <extension point="org.eclipse.ant.core.antProperties">
      <antProperty
            class="webdsl.WebDSLJarAntPropertyProvider"
            name="plugindir">
      </antProperty>
       <antProperty
             class="webdsl.WebDSLVersionPropertyProvider"
             name="webdsl.plugin.version">
       </antProperty>
    </extension>
    
    <!-- in .project use: <buildCommand><name>webdsl.editor.builder</name></buildCommand> -->
    <extension id="builder"
    name="WebDSL Project Builder"
    point="org.eclipse.core.resources.builders">
      <builder hasNature="false">
        <run class="webdsl.WebDSLProjectBuilder"/>
      </builder>
    </extension>
    
</plugin>
