<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="app" description="WebDSL" language="WebDSL" derivedFrom="DynamicRoot" validator="webdsl.WebDSLValidator" validatorClass="webdsl.WebDSLValidator"></language>
       </extension>
       <extension id="webdsl.parser" name="WebDSL Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="webdsl.WebDSLParseController" language="WebDSL">
          </parser>
       </extension>
    <extension point="org.eclipse.ui.newWizards">
      <primaryWizard id="webdsl.NewEditorWizard" />
      <wizard
            class="webdsl.WebDSLEditorWizard"
            icon="icons/webdsl.gif"
            id="webdsl.NewEditorWizard"
            name="WebDSL project"
            project="true">
      </wizard>
    </extension>
    <extension point="org.eclipse.ant.core.antProperties">
      <antProperty
            class="webdsl.WebDSLJarAntPropertyProvider"
            name="plugindir">
      </antProperty>
    </extension>
    <extension
          point="org.eclipse.ant.core.antProperties">
       <antProperty
             class="webdsl.WebDSLVersionPropertyProvider"
             name="webdsl.plugin.version">
       </antProperty>
    </extension>

</plugin>
