<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="app,mod" description="WebDSL" language="WebDSL" derivedFrom="DynamicRoot"></language>
       </extension>
       <extension id="org.webdsl.editor.parser" name="WebDSL Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.webdsl.editor.WebDSLParseController" language="WebDSL">
          </parser>
       </extension>    
    </plugin>